.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(169, 169, 169, 0.15);
}
